# Overrides for non-standard formats
**/.dialogrc       linguist-language=Shell
**/*.folders       linguist-language=Shell
**/*.migrate       linguist-language=Shell

# Environment files
#**/.env            linguist-language=Shell
#**/.env.*          linguist-language=Shell
