# Overrides for non-standard formats
**/.dialogrc       linguist-language=Text
**/*.folders       linguist-language=Text
**/*.migrate       linguist-language=Text

# Environment files
.env              linguist-language=Dotenv
.env.*            linguist-language=Dotenv
